@font-face {
  font-family: my-fantasy;
  src: url(kinder-font/01Kinder-ep7O.otf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

#game {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: my-fantasy, sans-serif;
}

h1,
#message,
.cell {
  color: white;
  font-size: calc(2rem + 5vh);
}

#reset {
  border: 1px solid #ccc;
  border-radius: 14px;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

#reset:hover {
  background-color: white;
  border: 1px solid white;
  color: black;
}

#message {
  height: 4rem;
  font-family: monospace;
}

#message span {
  font-family: my-fantasy, sans-serif;
}